<!DOCTYPE html>
<html>

<head>
  <title>RNN Patent Writing</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/images/lstm.ico">

</head>

<body>
  <div class="container">
    <h1>
      <center>SpineYolo Spine Detection</center>
    </h1>

    {% block content %}
    {% for message in form.scale.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method=post>
        <img src = "{{ r_image }}" alt = "Returned Image">
    </form>
    {% endblock %}

  </div>
</body>

</html>