absl-py==0.1.11
astor==0.6.2
bleach==1.5.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
gast==0.2.0
grpcio==1.10.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.1.5
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.0
numexpr==2.6.4
numpy==1.14.2
panda==0.3.1
pandas==0.22.0
parso==0.1.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2
Pygments==2.2.0
python-dateutil==2.7.0
pytz==2018.3
pyzmq==17.0.0
requests==2.18.4
simplegeneric==0.8.1
tables==3.4.2
tensorboard==1.6.0
tensorflow-gpu==1.6.0
termcolor==1.1.0
tornado==5.0.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
colorama==0.3.9
cycler==0.10.0
decorator==4.2.1
more-itertools==4.2.0
networkx==2.1
opencv-python==3.4.0.12
pathtools==0.1.2
Pillow==5.0.0
pluggy==0.6.0
py==1.5.3
pyparsing==2.2.0
pytest==3.6.2
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
watchdog==0.8.3
