<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpineYOLO</title>
</head>
<body>

<h2>SpineYOLO!!!</h2>

<div class="'ml-container">

    <form id="upload_form" action="{{url_for('predict')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept = "image/*" multiple>
        <p> Enter Scale in pixels/um</p>
        <input name="scale">
        <input type="submit" class="btn-predict" value="predict">
    </form>

</div>

</body>
</html>