<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpineYOLO</title>
</head>
<body>

<h1>SpineYOLO</h1>
<p><img src="{{ url_for('static', filename='images/front_page_example.jpg') }}"
        alt="Sample Image" float="right"></p>
<div class="'ml-container">

    <form id="upload_form" action="{{url_for('predict')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept = "image/*" multiple>
        <p> Enter Scale in pixels/um</p>
        <input name="scale">
        <input type="submit" class="btn-predict" value="predict">
    </form>

<h2>Add your own training data...</h2>
    <p>This model has been trained on a limited amount of training data.
        If it doesn't work for your data, we suggest you submit your own
    images along with their corresponding labels. It is suggested that you label at least
        300 spines for the model to work with your dataset.</p>
    <p>Please see the GitHub page for instructions on labeling training data</p>

    <a href="https://github.com/mikeusru/SpineYolo">SpineYolo GitHub</a>
    <br>
    <br>
    <form id="submit_training_data_form" action="{{url_for('submit_training_data')}}" method="POST" enctype="multipart/form-data">
        <input type ="submit" class="btn-submit" value="Submit Training Data">
    </form>

</div>

</body>
</html>